.container-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 6.75rem);
    position: absolute;
    top: 110px;
    left: 6.75rem;
    padding: 19px 114px 37px 80px;
    background-color: #F8F8F9;
}

.tables-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin: 24px 0 8px 0;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.hero-section {
    display: flex;
}

.home-container {
    background-color: #F8F8F9;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}