:root {
    --principais-verde-dark: #034A2A;
    --cinzas-cinza-1: #343447;
    --cinzas-cinza-2: #3F3F55;
    --principais-rosa-normal: #DA0175;
    --cinzas-cinza-8: #F8F8F9;
    --input-placeholder: #667085;
    --input-label: #344054;
    --principais-verde-normal: #0E8750;
    --cinza-cinza-6:#DEDEE9;
    --feedback-erro-dark: #AE1100;
    --cinca-cinza-3: #747488;
}